.body a{
    font-family: "微软雅黑", Arial;
}
.nav-top{
    height: 40px;
    background: #fff;
    box-shadow:0px 50px 8px 0px rgba(50, 50, 50, 0.08);
}
.nav-top-line{
    width: 100%;
    height: 100%;
    margin:0 auto;

}
.nav-top .row span{
    line-height: 40px;
    font-family: "微软雅黑", Arial;
    font-size: 20px;
    font-weight:900;
    padding: 0 100px;
    float: left;
    color: #5e5e5e;;
}
.nav-top .row span:hover{
   color: #ffa400;

}
.nav-colla {
    clear: both;
    text-align: center;
    float: right;
    font-size: 20px;
    line-height: 40px;
    display: none;
}
.nav-colla a{
    margin-left: 5px;
    display: inline-block;
    text-decoration: none;
    font-weight: 800;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
}
.nav-colla a:hover{
 background-color:#ffa400 ;
    color:#fff;
}
body{
    height:1000px;
}

@media screen and (min-width: 768px) {
    .nav-colla {
        display: block;
    }
    .nav-top-line button{
        display: none;
    }
    .nav-top-line .nav-collb{
        display: none;
    }
}

.nav-collb{
    position: absolute;
    top: 40px;
    display: none;
    line-height: 30px;
    background-color: #fff;
}
.nav-collb li{
    padding-left: 20px;
    border-bottom: 1px solid #fcf8e3;
}
.nav-collb li:hover{
    background-color:#ffa400;
}
.icon-bar {
    background: #ffa400;
    border-color: transparent;
    width: 20px;
    height: 20px;
    /*display: block;*/
}
.icon-bar:nth-child(3){
    position: relative;
    top: 11px;
    right:22px;
}
.icon-bar:nth-child(1){
    position: relative;
    right: -22px;
    top: 9px;
}
.nav-top-line button{
    position: fixed;
    right: 0px;
    top: 40px;
    z-index: 9;

}

/*banner 开始*/
.banner:before,.banner:after{
    display: block;
    content: "";
}
.banner:after{
    clear: both;
}
.banner{
    display: block;
    width: 100%;
    height: 562px;
    position: relative;
    top: 100px;
}
.banner img{
    width: 100%;
    height: 100%;
}
.slider-caption{
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: 800;
    color: #ffffff;
    margin-top: 20px;
}
.homewrapper h1{
    font-size: 30px;
}
.homewrapper h2{
    font-size: 25px;
}


.smoothScroll{
    background-color: #ffa400;
    width: 250px;
    height: 50px;
    line-height: 36px;
    font-size: 14px;
    transition: all 0.4s ease-in-out;
    color: white;
    border: 2px solid transparent;
    font-weight: bold;
    margin: 40px 0 0 0;
}
@media only screen and (max-width: 768px) {
    .smoothScroll {
        margin-top: 10px;
        width: 180px;
        height: 40px;
        padding-top: 8px;
        line-height: 100%;
    }

    .templatemo-slider-btn:hover, .templatemo-slider-btn:focus {
        background: #fff;
        color: #ffa400;
        border: 2px solid transparent;
    }
}
    /*功能*/
    .gongneng {
        display: block;
        /*position: absolute;*/
        top: 20px;
    }
    .features  {
        display: block;
        position: relative;
    }

.features
{
    background: #F9F9F9;
    border-bottom: 1px solid #f0f0f0;
    padding: 60px 0 60px 0;
}
.features h2
{
    font-weight: 400;
    padding-bottom: 20px;
}
.features h3
{
    font-weight: 400;
    padding-bottom: 6px;
}
.features .fa
{
    background: #ffa400;
    border-radius: 50%;
    color: #FFF;
    font-size: 28px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;

}
.features .fa:hover
{
    background: #303030;
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.fa-laptop:before {
    content: "\f109";
}

/*技能*/

.about{
    display: block;
    position: relative;
    top: 20px;

}

/* start templatemo portfolio */
#portfolio
{
    text-align: center;
    padding: 60px 0 100px 0;
}
#portfolio h2
{
    font-weight: 400;
    padding: 0 0 20px 0;
}
#portfolio p {	margin-bottom: 60px; }
#portfolio .col-md-3 { padding: 4px; }
#portfolio .image_thumb
{
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
}
#portfolio .image_thumb .image_overlay
{
    background: #ffa400;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    top: 0;
    left: 0;
    bottom: 0;
    /*padding-top: 46px;*/
    text-align: center;
}
#portfolio .image_thumb:hover .image_overlay { opacity: 0.9; }
#portfolio .image_thumb .image_overlay .fa
{
    background: #EEE;
    border-radius: 50%;
    color: #444;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    opacity: 1;
    /*http: //www.smashingmagazine.com/2013/08/09/absolute-horizontal-vertical-centering-css/; */
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#portfolio .image_thumb a:hover { text-decoration: none; }
/* end templatemo portfolio */